body {
	background-color: black;
}

a {
	text-decoration: none;
}
td {
	background-color: black;
	
	color: white;
	
	font-weight: 600;
	font-family: Arial;
	
	width: 240px;

	text-align: center;

	border-color: #ffbe1c; border-style: solid; border-radius: 20px;

	height: 40px;
}

#timer {
	font-family: Arial;
	font-size: 100px;
	color: white;
}

.botao {
	font-family: Arial;
	color: white;
	border-color: black;
	width: 120px;
	height: 40px;
	font-weight: 600;
	border-radius: 30px;
	background-color: #000;
}

.b1 {
	border-color: #85ff59;
}

.b2 {
	border-color: #ff5959;

}

.b3 { 
	border-color: #59e8ff;
}

table {

}